SPRING_PROFILES_ACTIVE=dev
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/blog
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=CAMBIA_ESTE_VALOR
JWT_SECRET=CArE/tNlXbKf1HS+CMEKpGUDfXGx2AaFOOC3Dz2EmdE
JWT_ISSUER=proyecto-blog
JWT_ACCESS_TOKEN_TTL=PT5M

BOOTSTRAP_ADMIN_ENABLED=false
BOOTSTRAP_ADMIN_NAME=
BOOTSTRAP_ADMIN_EMAIL=
BOOTSTRAP_ADMIN_PASSWORD=123456789