spring:
  application:
    name: proyecto-blog
  datasource:
    url: jdbc:mysql://localhost:3306/blog
    username: ${username}
    password: ${password}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: update
